<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Simulateur d'impôts sur le revenu</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="impots.css" />
  </head>
  <body>
    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container">
          <strong class="navbar-brand">
            Simulateur d'impôts sur le revenu
          </strong>
        </div>
      </div>
    </header>

    <div id="app" class="container">
      <div class="row">
        <div class="col-md-7">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Quotient familial</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Vous déclarez vos impôts :</td>
                <td>
                  <select
                    class="form-control form-control-sm"
                    v-model.number="etatcivil"
                  >
                    <option value="1">seul</option>
                    <option value="2">en couple (mariage / PACS)</option>
                  </select>
                </td>
                <td>
                  <i
                    class="far fa-question-circle"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Un couple (marié ou pacsé) faisant une déclaration commune a droit à 2 parts. Dans les autres cas, 1 part."
                  ></i>
                </td>
              </tr>
              <tr>
                <td>Nombre d'enfants à charge :</td>
                <td>
                  <input
                    type="number"
                    v-model.number="nbEnfants"
                    min="0"
                    max="20"
                    id="nbEnfants"
                    class="form-control form-control-sm"
                  />
                </td>
                <td>
                  <i
                    class="far fa-question-circle"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Les 2 premiers enfants à charge donnent une demi-part chacun. À partir du 3ème, chaque enfant donne droit à une part supplémentaire."
                  ></i>
                </td>
              </tr>
              <tr>
                <td>Parts supplémentaires :</td>
                <td>
                  <input
                    type="number"
                    v-model.number="partsSupplementaires"
                    min="0"
                    max="5"
                    step="0.25"
                    id="partsSupplementaires"
                    class="form-control form-control-sm"
                  />
                </td>
                <td>
                  <i
                    class="far fa-question-circle"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Certaines situations (invalide, anciens combattant, ...) peuvent donner droit à des majoration de parts."
                  ></i>
                </td>
              </tr>
              <tr>
                <td>Nombre de parts :</td>
                <td>
                  <strong>{{ parts }}</strong>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-5">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Barème</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="b in bareme">
                <td>{{ b.affichageIntervalle() }}</td>
                <td>{{ Math.round(b.taux * 100) }}%</td>
              </tr>
              <tr>
                <td>CSG <small>(sur les revenus du patrimoine et du capital)</small></td>
                <td>{{ tauxCsg * 100 }}%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Revenus</th>
                <th class="d-hidden d-md-table-cell" style="width:50%"></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="r in revenus">
                <td>{{ r.type }}</td>
                <td class="d-none d-md-table-cell">
                  <input
                    type="range"
                    v-model.number="r.montant"
                    min="0"
                    v-bind:max="r.maxDisplay"
                    v-bind:step="r.step"
                    class="form-control-range"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    v-bind:step="r.step"
                    v-model.number="r.montant"
                    class="form-control"
                  />
                </td>
                <td>({{ Math.round(r.montant / 12) }}&nbsp;€/mois)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="card bg-light ">
            <div class="card-header">Impots sur le revenu</div>
            <dl class="card-body">
              <dt>Total des revenus sur l'année</dt>
              <dd>{{ revenusTotaux }} €</dd>
              <dt>Revenu fiscal de référence</dt>
              <dd>{{ totalImposable }} €</dd>
              <dt>Total impôt</dt>
              <dd>
                {{ montantTotalImpot }} € ({{
                  (montantTotalImpot / 12).toFixed(2)
                }}
                €/mois)
              </dd>
              <dt>Taux marginal</dt>
              <dd>{{ tauxMarginal }} %</dd>
              <dt>Pourcentage prélèvement</dt>
              <dd>{{ pourcentagePrelevement.toFixed(1) }} %</dd>
            </dl>
          </div>
        </div>

        <div v-if="montantTotalCsg" class="col-md-6 col-sm-12">
          <div class="card bg-light ">
            <div class="card-header">Prélèvements sociaux</div>
            <dl class="card-body">
              <dt>Revenus imposables à la CSG</dt>
              <dd>{{ totalImposableCsg }} €</dd>
              <dt>Total CSG</dt>
              <dd>
                {{ montantTotalCsg }} € ({{
                  (montantTotalCsg / 12).toFixed(2)
                }}
                €/mois)
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <hr />
      <footer>
        <p>
          Code source disponible sur
          <a href="https://github.com/glacasa/simulateur-impots">Github</a>
        </p>
      </footer>
    </div>

    <script src="bootstrap/jquery-3.3.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vue/vue.js"></script>
    <script src="revenus.js"></script>
    <script src="impots.js"></script>
  </body>
</html>
