<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Simulateur d'impôts sur le revenu</title>
  </head>
  <body>
    <h1>Simulateur d'impôts sur le revenu</h1>

    <div id="app">
      <h2>Situation</h2>
      <dl>
        <dt>Vous déclarez vos impôts :</dt>
        <dd>
          <label>
            <input type="radio" v-model.number="etatcivil" value="1" /> seul
          </label>
          <label>
            <input type="radio" v-model.number="etatcivil" value="2" /> en
            couple (mariage / PACS)
          </label>
        </dd>
        <dt>Nombre d'enfants à charge :</dt>
        <dd>
          <input type="range" min="0" max="10" v-model.number="nbEnfants" />
          {{ nbEnfants }}
        </dd>
      </dl>

      <div>Nombre de parts : {{ parts }}</div>

      <h2>Revenus :</h2>

      <div>
        <h3>Traitements, salaires</h3>

        <input
          type="range"
          v-model.number="salaire.montant"
          min="0"
          max="120000"
          step="600"
        />
        <input type="number" step="600" v-model.number="salaire.montant" /> ({{
          Math.round(salaire.montant / 12)
        }}
        €/mois)
      </div>

      <div>
        <h3>Revenus fonciers</h3>

        <input
          type="range"
          v-model.number="foncier.montant"
          min="0"
          max="15000"
          step="600"
        />
        <input type="number" step="600" v-model.number="foncier.montant" /> ({{
          Math.round(foncier.montant / 12)
        }}
        €/mois)
      </div>

      <div>
        <h3>Dividendes</h3>

        <input
          type="range"
          v-model.number="dividendes.montant"
          min="0"
          max="100000"
          step="500"
        />
        <input type="number" step="500" v-model.number="dividendes.montant" />
      </div>
      <!--
        <table>
          <thead>
            <td>Type de revenu</td>
            <td>Total annuel</td>
            <td>Imposable après abattement</td>
          </thead>
          <tr v-for="revenu in revenus">
            <td>{{ revenu.type }}</td>
            <td><input type="number" v-model="revenu.montant" step="0.01" /></td>
            <td>{{ revenu.montantImposable() }}</td>
          </tr>
        </table>
      -->

      <h2>Impots sur le revenu</h2>
      <dl>
        <dt>Total des revenus sur l'année</dt>
        <dd>{{ revenusTotaux }} €</dd>
        <dt>Revenu fiscal de référence</dt>
        <dd>{{ totalImposable }} €</dd>
        <dt>Total impôt</dt>
        <dd>
          {{ montantTotalImpot }} € ({{
            (montantTotalImpot / 12).toFixed(2)
          }}
          €/mois)
        </dd>
        <dt>Taux marginal</dt>
        <dd>{{ tauxMarginal }} %</dd>
        <dt>Pourcentage prélèvement</dt>
        <dd>{{ pourcentagePrelevement.toFixed(1) }} %</dd>
      </dl>

      <h2 v-if="montantTotalCsg">Prélèvements sociaux</h2>
      <dl v-if="montantTotalCsg">
        <dt>Revenus imposables à la CSG</dt>
        <dd>{{ totalImposableCsg }} €</dd>
        <dt>Total CSG</dt>
        <dd>
          {{ montantTotalCsg }} € ({{
            (montantTotalCsg / 12).toFixed(2)
          }}
          €/mois)
        </dd>
      </dl>
    </div>

    <script src="vue/vue.js"></script>
    <script src="revenus.js"></script>
    <script src="impots.js"></script>
  </body>
</html>
